<div>
    <table *ngFor="let week of gamesList" >
        <thead>
            <tr>
                <th colspan="3" class="top">Week {{week.week}}</th></tr>
            <tr>
                <th>Time Slot</th>
                <th>Team 1</th>
                <th>Team 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sat Game 1</td>
                <td>
                    <select #tg11 (change)="saveGame($event, week.week,'saturday1','team1',tg11.value)">
                        <option>TBD</option>
                        <optgroup *ngFor="let pool of teamsList" label="{{pool.name}}">
                            <option *ngFor="let team of pool.teams" >{{team.name}}</option>
                        </optgroup>
                    </select>
                </td>
                <td>
                    <select #tg12 (change)="saveGame($event, week.week,'saturday1','team2',tg12.value)">
                        <option>TBD</option>
                        <optgroup *ngFor="let pool of teamsList" label="{{pool.name}}">
                            <option *ngFor="let team of pool.teams" >{{team.name}}</option>
                        </optgroup>
                    </select>
                </td> 
            </tr> 
            <tr>
                <td>Sat Game 2</td>
                <td>
                    <select #tg21 (change)="saveGame($event, week.week,'saturday2','team1',tg21.value)">
                        <option>TBD</option>
                        <optgroup *ngFor="let pool of teamsList" label="{{pool.name}}">
                            <option *ngFor="let team of pool.teams" >{{team.name}}</option>
                        </optgroup>
                    </select>
                </td>
                <td>
                    <select #tg22 (change)="saveGame($event, week.week,'saturday2','team2',tg22.value)">
                        <option>TBD</option>
                        <optgroup *ngFor="let pool of teamsList" label="{{pool.name}}">
                            <option *ngFor="let team of pool.teams" >{{team.name}}</option>
                        </optgroup>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Sun Game 1</td>
                <td>
                    <select #ng11 (change)="saveGame($event, week.week,'sunday1','team1',ng11.value)">
                        <option>TBD</option>
                        <optgroup *ngFor="let pool of teamsList" label="{{pool.name}}">
                            <option *ngFor="let team of pool.teams" >{{team.name}}</option>
                        </optgroup>
                    </select>
                </td>
                <td>
                    <select #ng12 (change)="saveGame($event, week.week,'sunday1','team2',ng12.value)">
                        <option>TBD</option>
                        <optgroup *ngFor="let pool of teamsList" label="{{pool.name}}">
                            <option *ngFor="let team of pool.teams" >{{team.name}}</option>
                        </optgroup>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Sun Game 2</td>
                <td>
                    <select #ng21 (change)="saveGame($event, week.week,'sunday2','team1',ng21.value)">
                        <option>TBD</option>
                        <optgroup *ngFor="let pool of teamsList" label="{{pool.name}}">
                            <option *ngFor="let team of pool.teams" >{{team.name}}</option>
                        </optgroup>
                    </select>
                </td>
                <td>
                    <select #ng22 (change)="saveGame($event, week.week,'sunday2','team2',ng22.value)">
                        <option>TBD</option>
                        <optgroup *ngFor="let pool of teamsList" label="{{pool.name}}">
                            <option *ngFor="let team of pool.teams" >{{team.name}}</option>
                        </optgroup>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Sun Game 3</td>
                <td>
                    <select #ng31 (change)="saveGame($event, week.week,'sunday3','team1',ng31.value)">
                        <option>TBD</option>
                        <optgroup *ngFor="let pool of teamsList" label="{{pool.name}}">
                            <option *ngFor="let team of pool.teams" >{{team.name}}</option>
                        </optgroup>
                    </select>
                </td>
                <td>
                    <select #ng32 (change)="saveGame($event, week.week,'sunday3','team2',ng32.value)">
                        <option>TBD</option>
                        <optgroup *ngFor="let pool of teamsList" label="{{pool.name}}">
                            <option *ngFor="let team of pool.teams" >{{team.name}}</option>
                        </optgroup>
                    </select>
                </td>
            </tr>
        </tbody>
        
    </table>
    <button (click)="addWeek()"><i class="far fa-calendar-plus"></i> Add New Week</button>
</div>