div{
    padding:5vh 15vw;

    h3{
        font-family: "Josefin Sans", sans-serif;
        text-align: center;
        text-transform: uppercase;
    }

    input{
        width: 98%;
        text-align: center;
        line-height: 30px;
        display: block;
        font-family: "Josefin Sans", sans-serif;
        font-size: 13px;
        border: 1px solid #868688;
         border-radius: 6px;
        -webkit-box-shadow: 4px 7px 5px -6px rgba(0,0,0,0.35);
         -moz-box-shadow: 4px 7px 5px -6px rgba(0,0,0,0.35);
         box-shadow: 4px 7px 5px -6px rgba(0,0,0,0.35);
     }

     label{
        font-family: "Source Sans Pro", sans-serif
     }
     select{
         width:100%;
         text-align: center;
         font-family: "Josefin Sans", sans-serif;
         height: 36px;
         margin-bottom: 15px;
         border: 1px solid #868688;
         border-radius: 6px;
         -webkit-box-shadow: 4px 7px 5px -6px rgba(0,0,0,0.35);
         -moz-box-shadow: 4px 7px 5px -6px rgba(0,0,0,0.35);
         box-shadow: 4px 7px 5px -6px rgba(0,0,0,0.35);
     }
     button.save{
         width: 100%;
         background:#171717;
         line-height: 24px;
         color:#fff;
         border: 1px solid #868688;
         border-radius: 6px;
         padding: 5px 5px 5px 15px;
         -webkit-box-shadow: 4px 7px 5px -6px rgba(0,0,0,0.35);
         -moz-box-shadow: 4px 7px 5px -6px rgba(0,0,0,0.35);
         box-shadow: 4px 7px 5px -6px rgba(0,0,0,0.35);
     }
     ul{
        padding-left:0;

        li{
            font-family: 'Source Sans Pro', sans-serif;
            color:#fff;
            background: #23c1bc;
            list-style: none;
            line-height: 30px;
            margin-top: 5px;
            border: 1px solid #868688;
            border-radius: 6px;
            padding: 5px 5px 5px 15px;
            -webkit-box-shadow: 4px 7px 5px -6px rgba(0,0,0,0.35);
            -moz-box-shadow: 4px 7px 5px -6px rgba(0,0,0,0.35);
            box-shadow: 4px 7px 5px -6px rgba(0,0,0,0.35);

            button{
                float: right;
                background: none;
                border:1px solid #fff;
                color:#fff;
                margin: 5px 2px;
                border-radius: 9px;
                cursor: pointer;
                &:active{outline:none;}
            }
        }
    }
}
